@media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
  
    #menu-toggle {
      display: block;
    }
}

@media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
    
    #menu-toggle {
      display: block;
      background: none;
      font-size: 1.5rem;
      border: none;
      cursor: pointer;
    }
}
  
@media (min-width: 769px) {
    #menu-toggle {
      display: none;
    }
  
    nav ul {
      display: flex !important;
    }
}