body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003366;
    color: white;
    font-size: 50px;
}

header img {
    padding-top: 15px;
    width: 100px;
    border-radius: 10px;
    margin: 20px;
}

section img {
    width: 300px;
    border-radius: 5px;
}

#menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

h1 {
    color: #003366;
    margin-right: 500px;
}

h2 {
    background: #003366;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
nav ul {
    display: none;
    list-style: none;
    padding: 0;
    background: black;
}

nav ul.active {
    display: block;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

footer {
    background: #003366;
    color: white;
    padding: 10px;
}